importFrom("stats", "model.matrix", "model.response", "aggregate", "effects")
importFrom(nlme, "fdHess")
import(spdep)
import(Ecdat)
import(Matrix)
importFrom("MASS", "ginv")
importFrom("plm", "plm.data")
importFrom("splm", "spgm")
importFrom("methods", "as")
importFrom("stats", "coef", "coefficients", "fitted.values", "lm",
             "model.extract", "model.frame", "na.fail", "nlminb",
             "pnorm", "printCoefmat", "residuals", "terms", "vcov")

export(spsegm, spseml)

S3method(print, spse)
S3method(summary, spse)
S3method(print, summary.spse)
S3method(print, spsugm)
S3method(summary, spsugm)
S3method(print, summary.spsugm)

