importFrom(stats, model.matrix, model.response, aggregate, effects)
import(nlme)
import(spdep)
import(Matrix)
importFrom(MASS,ginv)

export(spsegm, spseml, print.spse, summary.spse, spsepgm, print.spsugm, summary.spsugm)



S3method(print, spse)
S3method(print, summary.spse)
S3method(print, spsugm)
S3method(print, summary.spsugm)

